*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 195px;
    text-align: center;
  }

.topnav {
    height: 100%;
    width: 195px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 20px;
    
}
h2{
    margin-top: 20px;
}
#dec{
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px 5px 10px 5px;
    background: #818181;
    font-weight: bold;
}
#dec:hover{
    transition: all .5s ease-in-out;
    background:  #f00404;
    color: white;
}
.topnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #818181;
    display: block;
    float: left;
    
}



.topnav a:hover {
    color: #f1f1f1;
}

#btn{
  margin: 20px;
}









 #icon {
    color: #b9afaf60;
    display: block;
}
 #ico {
    float: right;
    font-size: 30px;
    color: #e7082d;
    display: none;
    margin-top: -10px;
}


@media screen and (max-width: 600px) {
  #icon {
    color: #0c08e7fa;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}
  #ico {
   
    display: block;
   
}

  .topnav  {margin-left: -500px;
    transition: all .6s ease;
}
  .topnav a.icon {
    float: right;
    display: block;
  }
  body{
    margin-left: 0px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {margin-left: 0px;}
  #ico.responsive {margin-left: 30px;}


   
  }

