*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "lato" , sans-serif;
    margin: 70px 0px;
    background: white;
}
.divider{
    width: 100%;
    height: 2px;
    background: #ffa500;
    margin: 0 auto;
    margin-top: 90px;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
    
}

h1{
    
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 27px;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 22px;
}
#ins-form{
    font-size: 20px;
    background: rgb(146, 143, 143);
    padding: 40px;
    border-radius: 10px;
   /* box-shadow: -15px 15px 15px 3px rgba(0, 0, 0, 0.644);*/
}
.blue{
   color:  #cc0808ee
}
.form-control{
    height: 50px;
    font-size: 18px;
}

#ins-form input[type=submit]{
    margin: 40px auto 0px;
    display: block;
    height: 60px;
}
#ins-form input{
    
    height: 40px;
    box-shadow: black 12 12 12;
}
.button1{
    background: white;
    border: 1px solid #ffa60046;
    color: black;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all .3s ease-in;
    height: 10px;
}
.button1:hover{
    background:#05bb1d41;
   
    
}
form label{
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}
#ero{
    font-size: 50px;
    color: aqua;
}
img{
    height: 70px;
    position: absolute;
    top: 10px;
    left: 30px;
}
#cancel{
    margin-top: 40px;
    padding: 18px;
   
}

