*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(209, 4, 4, 0.781);
    justify-content: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
ul li{
    padding-top: 20px;
    margin-left: 20px;
    
}
ul{
    margin-top: 50px;
}